<form action="/books" method="POST" enctype="multipart/form-data">
    <h2>New Book</h2>
    <div class="form-outline mb-4 ">
      <%- include('_form_fields') %>
    </div>
      <button type="submit" class="btn btn-primary btn-block mb-4">Create</button>
      <a href="/books">Cancel</a>
    </div>
  </form>
